
---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.2.5
  creationTimestamp: null
  name: cnfnats.batch.sdewan.akraino.org
spec:
  group: batch.sdewan.akraino.org
  names:
    kind: CNFNAT
    listKind: CNFNATList
    plural: cnfnats
    singular: cnfnat
  scope: Namespaced
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      description: CNFNAT is the Schema for the cnfnats API
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          description: CNFNATSpec defines the desired state of CNFNAT
          properties:
            dest:
              type: string
            dest_ip:
              type: string
            dest_port:
              type: string
            index:
              type: string
            name:
              description: 'INSERT ADDITIONAL SPEC FIELDS - desired state of cluster
                Important: Run "make" to regenerate code after modifying this file'
              type: string
            proto:
              type: string
            src:
              type: string
            src_dip:
              type: string
            src_dport:
              type: string
            src_ip:
              type: string
            src_port:
              type: string
            target:
              type: string
          type: object
        status:
          description: status subsource used for Sdewan rule CRDs
          properties:
            appliedGeneration:
              format: int64
              type: integer
            appliedTime:
              format: date-time
              type: string
            message:
              type: string
            state:
              type: string
          required:
          - state
          type: object
      type: object
  version: v1alpha1
  versions:
  - name: v1alpha1
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
